.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.column {
  border-right: 4px solid green;
  padding: 20px;
  width: 30%;
}

.column:last-child {
  border-right: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}